body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;         
}

.getaquote {
    width: 1020px;
    height: 648px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    position: relative;
    margin-left: -510px;    
    left:50%; 
                  
}

.getaquote h1 {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    letter-spacing: normal;
    position: relative;
    left: 40px;
    top: 60px;
    margin-top: 7px;       
}

.text1 {   
    width: 960px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    letter-spacing: normal;
    position: relative;
    left: 40px;
    top: 63px;    
    margin: 0; 
    padding: 0px;
}

#forminputs_name, #forminputs_email, #forminputs_subject {
    width: 603px;
    height: 36px;
    border-radius: 5px;
    background-color: #d6564f;    
    border: 1px none;
    margin-bottom: 16px;       
}

#forminputs_describe {
    width: 600px;
    height: 192px;
    border-radius: 5px;
    border: 0px;
    background-color: #d6564f;
    margin-top: 0px;
    padding-top: 8px;
    resize: none;
}

#forminputs_submit {
    width: 210px;
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;    
    border: 1px none;    
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: center;
    margin: 0px;
    margin-top: 8px;
}

#forminputs_submit:hover {
    cursor: pointer;
    border: 1px solid #f48c8f;
}

#forminputs_name, #forminputs_email, #forminputs_subject, #forminputs_describe {
font-size: 12px;
line-height: 22px;
color: #f48c8f;
font-family: "Lato";
font-weight: 400;
text-align: left;
padding-left: 16px;
}

input::-webkit-input-placeholder {
    color: #f48c8f; 
}

textarea::-webkit-input-placeholder {
    color: #f48c8f;
}

.wrapper2 {
    display: flex;
    flex-direction: row;
    width: 940px;
    position: relative;
    left: 40px;
    top: 106px;   
}

.forminputs {
    width: 620px;    
    position: relative;    
}

.contactinfo {
    position: relative;
    width: 300px;
    height: 175px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    left: 20px;
    letter-spacing: 0.1px;   
}

.contactinfo h2 {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 0;
    letter-spacing: 0.4px;
}

ul {
    list-style-type: none;   
    margin: 0px;
    padding: 6px 0px 0px 2px;
}

li {
    padding: 0px;
}

a {
    text-decoration: none;    
}

a:hover {text-decoration: underline; }

a:link, a:hover, a:visited, a:active {
    color: #f0d8d9;    
}

.text3 {
    color: #666d89;
    font-size: 12px;
    line-height: 22px;    
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.copyright {
    position: relative;
    left: 41px;
    letter-spacing: normal;
}

.socialicons {
    position: relative;
    right: 35px;
}

.facebook, .google, .twitter, .linkedin {
width: 32px;
height: 32px;
border-radius: 16px;
border: 1px solid #666d89;
background-color: #2d303a;
margin-right: 4px;
padding-top: 2px;
}

.facebook:hover, .google:hover, .twitter:hover, .linkedin:hover {
    border: 2px solid #666d89;
    opacity: 0.7;    
}

.footer {
    width: 1020px;
    height: 76px;
    background-color: #2d303a;
    position: relative;
    margin-left: -510px;
    left:50%;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}