html, body, div, h1, h2, h3, h4, h5, h6, p, ul, li, span {
	margin: 0;
	padding: 0;
    line-height: 1;
    font-family: 'Lato', sans-serif;
	}

.single_wrapper {
    width: 1020px;
    height: 1195px;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -510px;
    
}

.header {
    width: 1020px;
    height: 89px;
    background: #2d303a;
    /*overflow: hidden;*/
    border-bottom: 6px solid #323746;    
    }

.wrapper {
    display: flex;
    position: relative; 
            
}

.logo {
    width: 115px;
	height: 20px;
	background: url(assets/logo.png) no-repeat;
    /*text-indent: -9999px;*/
    position: absolute;
    left: 40px;
    top: 35px;   
    }
        
ul.navigation li{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
	font-weight: 700;
	color: #494e62;
    text-transform: uppercase;
    position: relative;
    left: 584px;
    top: 45px;
    display: inline-block;
    margin: 0 13px 0 13px;
    text-decoration: none;
	outline: none;
    }    
    
a:link {
    color: #ffffff;
    text-decoration: none;
	outline: none;
}
a:visited {
    color: #ffffff;
    text-decoration: none;
	outline: none;
}
a:hover {
    color: #f06c64;
    text-decoration: none;
	outline: none;
}

a:active {
    color: #f06c64;
    text-decoration: none;
	outline: none;
}

  

.slider {background: #f06c64;
	     width: 1020px;
         height: 600px;
	     overflow: hidden;
         border-bottom: 15px solid #ea676b;
}

.left {
    width: 16px;
    height: 27px;
    position: relative;
    left: 40px;
    top: 280px;
}

.mobile-vert {
    background-image: url(assets/vert.png);
    width: 510px;
    height: 580px;
    position: absolute;
    left: 110px;
    top: 50px;
}

.mobile-goriz {
    background-image: url(assets/goriz.png);
    width: 480px;
    height: 240px;
    position: absolute;
    top: 170px;
    left: 420px;
}

.right {
    width: 16px;
    height: 27px;
    position: absolute;
    left: 960px;
    top: 280px;
}

.services {
    width: 1020px;
    height: 495px;
    background: #f2f2f2;
    /*overflow: hidden;*/
    border-bottom: 6px solid #ffffff;
}

.wrapper_serv h1 {
    padding-top: 65px;
    padding-left: 40px;
    /*padding-right: 40px;
    padding-bottom: 35px;*/
    font-size: 30px;
    font-weight: 900;
    color: #666d89;
    /*margin: 0 0 21px 0;*/
}


.wrapper_serv h2 {
    padding-top: 33px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
    text-align: justify;
    font-size: 18px;
	font-weight: 300;
	color: #767e9e;
	line-height: 1.6;
}

h3 {
    font-size: 18px;
	font-weight: 900;
	color: #666d89;
    margin: 0 0 10px 0;
    position: relative;
    left: 40px;
}

p {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.7;
    color: #767e9e;
    position: relative;
    left: 40px;
    }
    
.pen {
    position: relative;
    left: 20px;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    border: 2px solid #666d89;    
}

.bulb {
    float:left;
    left: 40px;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    border: 2px solid #666d89;    
}

.heart {
    position: relative;
    left: 40px;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    border: 2px solid #666d89;    
}

.phone {
    position: relative;
    left: 20px;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    border: 2px solid #666d89;    
}

.bubble {
    position: relative;
    left: 20px;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    border: 2px solid #666d89;   
}

.star {
    position: relative;
    left: 20px;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    border: 2px solid #666d89;    
}

.image {
    position: relative;
    left: 12px;
    top: 12px;
}

.main1 {
    display: flex;
    position: relative;        
}

.main2 {
    display: flex;
    position: relative;
    top: 35px;
}

.text1, .text2, .text3, .text4, .text5, .text6 {
    float: left;
    left: 40px;
	width: 220px;
	
}
