body {
	margin: 0;
    padding: 0;    
} 

.single_wrapper {
    width: 1020px;
    height: 1195px;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -510px;    
}

.header {
    width: 1020px;
    height: 89px;
    background: #2d303a;
    overflow: hidden;
    border-bottom: 6px solid #323746;       
    }

.header_wrapper {
    display: flex;
    position: relative; 
            
}

#open-burgermenu {
    display: none;
}

.burgermenu {
    display: none;
}

.logo {
    width: 115px;
	height: 20px;
	background: url(assets/logo.png) no-repeat;
    position: absolute;
    left: 40px;
    top: 35px;   
    }
        
ul.navigation li{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
	font-weight: 700;
	color: #494e62;
    text-transform: uppercase;
    position: relative;
    left: 592px;
    top: 10px;
    display: inline-block;
    margin: 0 13px 0 13px;
    text-decoration: none;
	outline: none;
    }    

ul.navigation li.active {
    background: #f06c64;
    color: #494e62;
}

ul.navigation li:not(.active):hover {
    cursor: pointer;
    color: #f06c64;
}
    
a:link {
    color: #ffffff;
    text-decoration: none;
	outline: none;
}
a:visited {
    color: #ffffff;
    text-decoration: none;
	outline: none;
}
a:hover {
    color: #f06c64;
    text-decoration: none;
	outline: none;
}

a:active {
    color: #f06c64;
    text-decoration: none;
	outline: none;
}

.slider {background: #f06c64;
	     width: 1020px;
         height: 585px;
	     overflow: hidden;
         border-bottom: 15px solid #ea676b;
}

#img_home {     
    position: absolute;
    width: 42px;
    height: 43px;
    left: 198px;
    top: 558px;
    z-index: 7; 
    cursor: pointer;
}

#img_home_goriz {     
    position: absolute;
    width: 42px;
    height: 43px;
    left: 432px;
    top: 358px;
    z-index: 7;
    cursor: pointer;
}

#display {
    position: absolute;
    left: 111px;
    top: 149px;    
}

.left {
    width: 16px;
    height: 27px;
    position: absolute;
    left: 40px;
    top: 376px;
    cursor: pointer;    
}

.mobile-vert {
    background-image: url(assets/vert.png);
    width: 510px;
    height: 580px;
    position: absolute;
    left: 112px;
    top: 148px;
}

.mobile-goriz {
    background-image: url(assets/goriz.png);
    width: 480px;
    height: 240px;
    position: absolute;
    top: 269px;
    left: 425px;
}

.right {
    width: 16px;
    height: 27px;
    position: absolute;
    left: 965px;
    top: 376px;
    cursor: pointer;
}

.services {
    width: 1020px;
    height: 495px;
    background: #f2f2f2;
    overflow: hidden;
    border-bottom: 6px solid #ffffff;
}

.wrapper_serv h1 {
    padding-top: 42px;
    padding-left: 40px;    
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}


.wrapper_serv h2 {
    padding-top: 3px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
    letter-spacing: normal;
    font-size: 18px;
	font-weight: 300;
	color: #767e9e;
    line-height: 30px;
    font-family: "Lato";
    text-align: left;
}

h3 {
    font-size: 18px;
	font-weight: 900;
	color: #666d89;
    margin: 0 0 10px 0;
    position: relative;
    left: 40px;    
    line-height: 18px;
    font-family: "Lato";
    text-align: left;
}

p {
	font-size: 12px;
	font-weight: 400;	
    color: #767e9e;
    position: relative;
    left: 40px;
    text-align: justify;    
    line-height: 22px;
    font-family: "Lato";
}
   
.pen {
    position: relative;
    left: 40px;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    border: 2px solid #666d89;    
}

.bulb {
    position: relative;
    left: 78px;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    border: 2px solid #666d89;    
}

.heart {
    position: relative;
    left: 118px;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    border: 2px solid #666d89;    
}

.phone {
    position: relative;
    left: 40px;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    border: 2px solid #666d89;    
}

.bubble {
    position: relative;
    left: 78px;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    border: 2px solid #666d89;   
}

.star {
    position: relative;
    left: 118px;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    border: 2px solid #666d89;    
}

.image {
    position: relative;
    left: 12px;
    top: 12px;
}

.main1 {
    display: flex;
    position: relative;
    top: -20px;        
}

.main2 {
    display: flex;
    position: relative;
    top: -3px;
}

.text1 {
    position: relative;
    left: 20px;
    width: 220px;   	
}

.text2 {
    position: relative;
    left: 60px;
	width: 220px;
}

.text3 {
    position: relative;
    left: 100px;
	width: 220px;
}

.text4 {
    position: relative;
    left: 20px;
	width: 220px;
}

.text5 {
    position: relative;
    left: 60px;
	width: 220px;
}

 .text6 {
    position: relative;
    left: 100px;
	width: 220px;
}



/* Singolo 2 */

.second_wrapper {
    width: 1020px;
    height: 870px;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -510px;
    background-color: #2d303a;
    top: 1187px;
    border-bottom: 6px solid #323746;        
}

    .wrapper__portfolio__text {
    width: 940px;
    height: 57px;
    position: absolute;
    top: 46px;
    left: 40px;    
}

.logo2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left; 
    letter-spacing: 1px;   
}

.portfolio__text {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left; 
    position: absolute;  
    top: 30px;
    left: 0px; 
}

.wrapper__buttons {
    position: absolute;
    left: 40px;
    top: 130px;
}

.gallery {
    position: absolute;
    left: 40px;
    top: 170px;      
}

.button1, .button2, .button3, .button4 {
    height: 22px;
    border-radius: 5px;
    background-color: #0f0f0f;
    border: 1px solid #666d89;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: center;
    margin: 0; 
    padding: 0;   
}

.button1:hover, .button2:hover, .button3:hover, .button4:hover {
    background-color: #0f0f0f;
    border: 1px solid #c5c5c5;
    color: #dedede;
    cursor: pointer;
}

.button1 {
    width: 29px;   
      
}

.button2 {
    width: 78px;
    margin-left: 7px;       
}

.button3 {
    width: 93px;
    margin-left: 7px;        
}

.button4 {
    width: 57px;
    margin-left: 6px;      
}

.a1, .a2, .a3, .b1, .b2, .b3, .c1, .c2, .c3, .d1, .d2, .d3 {
    width: 220px;
    height: 187px;
    background-color: #464b5e;          
}

.a1:hover, .a2:hover, .a3:hover, .b1:hover, .b2:hover, .b3:hover, .c1:hover, .c2:hover, .c3:hover, .d1:hover, .d2:hover, .d3:hover {
    transform: scale(1.1);
    transition: 0.1s;
}

.a1:active, .a2:active, .a3:active, .b1:active, .b2:active, .b3:active, .c1:active, .c2:active, .c3:active, .d1:active, .d2:active, .d3:active{
    border: 5px solid #F06C64;
}

.a1 {
    grid-area: a1;
    background-image: url(assets/gallery/a1.png);
    background-position-x: -8px;
    background-position-y: -10px;
        
}

.a2 {
    grid-area: a2;
    background-image: url(assets/gallery/a2.png);
    background-position-x: -10px;
    background-position-y: -16px;
}

.a3 {
    grid-area: a3;
    background-image: url(assets/gallery/a3.png);
    background-position-x: -15px;
    background-position-y: -1px;
}

.b1 {
    grid-area: b1;
    background-image: url(assets/gallery/b1.png);
    background-position-x: -82px;
    background-position-y: -43px;

}

.b2 {
    grid-area: b2;
    background-image: url(assets/gallery/b2.png);
    background-position-x: -17px;
    background-position-y: -3px;
}

.b3 {
    grid-area: b3;
    background-image: url(assets/gallery/b3.png);
    background-position-x: -141px;
    background-position-y: -112px;
}

.c1 {
    grid-area: c1;
    background-image: url(assets/gallery/c1.png);
    background-position-x: -11px;
    background-position-y: -1px;
}

.c2 {
    grid-area: c2;
    background-image: url(assets/gallery/c2.png);
    background-position-x: -31px;
    background-position-y: -38px;


}

.c3 {
    grid-area: c3;
    background-image: url(assets/gallery/c3.png);
    background-position-x: -144px;
    background-position-y: -174px;
}

.d1 {
    grid-area: d1;
    background-image: url(assets/gallery/d1.png);
    background-position-x: -24px;
    background-position-y: -2px;
}
.d2 {
    grid-area: d2;
    background-image: url(assets/gallery/d2.png);
    background-position-x: -24px;
    background-position-y: -32px;
}

.d3 {
    grid-area: d3;
    background-image: url(assets/gallery/d3.png);
    background-position-x: -36px;
    background-position-y: -60px;
}

.gallery {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 187px 187px 187px;
    grid-template-areas:    
            "a1 b1 c1 d1"
            "a2 b2 c2 d2"
            "a3 b3 c3 d3";               
}

.wrapper__about {
    width: 1020px;
    height: 728px;
    background-color: #f2f2f2;
    position: absolute;
    top: 870px;
    margin: 0;
    border-bottom: 6px solid #ffffff;
}

.head_about {
    width: 940px;
    height: 57px;
    position: absolute;
    left: 40px;
    top: 67px;    
}

.head_about h1 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.head_about p {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: start;
    position: relative;
    top: 7px;    
    left: 0px;
}

.fotogallary {
    position: relative;
    left: 40px;
    top: 200px;    
}

.foto1 {
    grid-area: foto1;
    background-image: url(assets/foto/foto1.png);
}

.foto2 {
    grid-area: foto2;
    background-image: url(assets/foto/foto2.png);
}

.foto3 {
    grid-area: foto3;
    background-image: url(assets/foto/foto3.png);
}

.name1 {
    grid-area: name1;

}

.name2 {
    grid-area: name2;
}

.name3 {
    grid-area: name3;
}

.disc1 {
    grid-area: disc1;
}

.disc2 {
    grid-area: disc2;
}

.disc3 {
    grid-area: disc3;
}

.icon1 {
    grid-area: icon1;
}

.icon2 {
    grid-area: icon2;
}

.icon3 {
    grid-area: icon3;
}
    
.fotogallary {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 20px 35px 35px;
    grid-template-areas:    
            "foto1 foto2 foto3"
            "name1 name2 name3"
            "disc1 disc2 disc3"
            "icon1 icon2 icon3";               
}

.name1 h2, .name2 h2, .name3 h2 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    position: relative;
    top: -19px;
}

.disc1 p, .disc2 p, .disc3 p {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    position: relative;  
    top: -15px;  
    margin: 0;
    left: 0px;
}

.icon1, .icon2, .icon3 {
    position: relative;  
    top: -4px;     
}

.google1, .twitter1, .linkedin1 {
    margin-left: 4px;
}

.facebook1, .google1, .twitter1, .linkedin1 {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: 1px solid #666d89;
}

.facebook1:hover, .google1:hover, .twitter1:hover, .linkedin1:hover {
    border: 1px solid #000000;
    cursor: pointer;
}

/* Singolo 3 */

.third_wrapper {
    display: flex;
    flex-direction: column;  
    margin: 0px; 
}

.getaquote {
    width: 1020px;
    height: 660px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    position: relative;
    margin-left: -510px;    
    left:50%;
    top: calc(1195px + 1578px); 
                  
}

.getaquote h1 {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    letter-spacing: normal;
    position: absolute;
    left: 40px;
    top: 60px;
    margin-top: 18px;       
}

.text31 {   
    width: 960px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    letter-spacing: normal;
    position: absolute;
    left: 40px;
    top: 120px;    
    margin: 0; 
    padding: 0px;
}

#forminputs_name, #forminputs_email, #forminputs_subject {
    width: 603px;
    height: 36px;
    border-radius: 5px;
    background-color: #d6564f;    
    border: 1px none;
    margin-bottom: 16px;       
}

#forminputs_describe {
    width: 600px;
    height: 192px;
    border-radius: 5px;
    border: 0px;
    background-color: #d6564f;
    margin-top: 0px;
    padding-top: 6px;
    resize: none;
}

#forminputs_submit {
    width: 210px;
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;    
    border: 1px none;    
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: center;
    margin: 0px;
    margin-top: 8px;
}

#forminputs_submit:hover, #close-btn:hover {
    cursor: pointer;
    border: 1px solid #f48c8f;
}

#close-btn {
    position: absolute;
    width: 90%;
    left: 5%;
    bottom: 5%;
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;    
    border: 1px none;    
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: center;
    margin: 0px;    
}

#forminputs_name, #forminputs_email, #forminputs_subject, #forminputs_describe {
font-size: 12px;
line-height: 22px;
color: #f48c8f;
font-family: "Lato";
font-weight: 400;
text-align: left;
padding-left: 16px;
}

input::-webkit-input-placeholder {
    color: #f48c8f; 
}

textarea::-webkit-input-placeholder {
    color: #f48c8f;
}

#forminputs_name:invalid {
    border: red solid 1px;
}

#forminputs_email:invalid {
    border: red solid 1px;
}

.wrapper2 {
    display: flex;
    flex-direction: row;
    width: 840px;
    position: absolute;
    left: 40px;
    top: 106px;   
}

.forminputs {
    width: 620px;  
    top: 100px;  
    position: relative;    
}

.contactinfo {
    position: relative;
    width: 400px;
    height: 175px;
    top: 100px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    left: 20px;
    letter-spacing: 0.1px;   
}

.contactinfo h2 {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 0;
    letter-spacing: 0.4px;
}

ul {
    list-style-type: none;   
    margin: 0px;
    padding: 6px 0px 0px 2px;
}

li {
    padding: 0px;
}

a {
    text-decoration: none;    
}

a:hover {text-decoration: underline; }

a:link, a:hover, a:visited, a:active {
    color: #f0d8d9;    
}

.text32 {
    width: 300px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;    
    letter-spacing: 0.1px;
    left: 0px;

}

.text33 {
    color: #666d89;
    font-size: 12px;
    line-height: 22px;    
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.copyright {
    position: relative;
    left: 0px;
    letter-spacing: normal;
}

.socialicons {
    position: relative;
    right: 35px;
}

.facebook, .google, .twitter, .linkedin {
width: 32px;
height: 32px;
border-radius: 16px;
border: 1px solid #666d89;
background-color: #2d303a;
margin-right: 4px;
padding-top: 2px;
}

.facebook:hover, .google:hover, .twitter:hover, .linkedin:hover {
    border: 2px solid #666d89;
    opacity: 0.7;    
}

.footer {
    width: 1020px;
    height: 76px;
    background-color: #2d303a;
    position: relative;
    margin-left: -510px;
    left:50%;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    top: calc(1195px + 1578px);    
}

/*popup style*/

.b-container{
    width:300px;
    height:200px;
    background-color: #ccc;
    margin:0px auto;
    padding:10px;    
    color: #fff;
    z-index: -1;    
}


.b-popup{
    width:1020px;
    height: 2000px;
    background-color: rgba(f,f,f,0.5);
    overflow: hidden;
    position: fixed;
    top: -10px;
    z-index: -1;
}

.b-popup .b-popup-content{    
    width: 30%;
    height: 160px;       
    background-color: #f06c64;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
    z-index: -1;
}

.b-popup-content {
    position: absolute;
    left: 50%;
    top: 250px;
    overflow: hidden;
}

.popup_text {
    color: white;
    font-size: 12px;
    line-height: 22px;    
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    position: relative;
    left: 10%;
}

/*end popup*/


/* Responsive - Tablet - 768px */

@media (max-width: 768px) {    

    .single_wrapper {  
        width: 100vw;      
        left: 0;
        margin: 0;    
    }

    .header {
        width: 100vw;        
    }

    ul.navigation li{    
        left: 35vw;  
        margin: 0 1vw 0 1vw;
    }  

    #pic {
        width: 100vw;
    }

    .slider {
        width: 100vw;
        height: 440px;
    }

    #img_home {     
        width: 4vw;
        height: 4vw;
        left: 19.3vw;
        top: 57.3vw;   
    }

   #img_home_goriz {        
        width: 4vw;
        height: 4vw;
        left: 42.4vw;
        top: 38.4vw;
        
}

   #display {   
        width:  76.2vw;   
        left: 10.8vw;
        top: 17.5vw;    
   }

   .left {
        width: 2vw;              
        left: 5vw;
        top: 40vw;
        z-index: 7;       
   }

   .right {   
        left: 92vw;
        top: 40vw;   
        z-index: 7;
    }

    .services {
        width: 100vw;
        height: 495px;        
    }

    .heart, .text3, .star, .text6 {
        display: none;
    }



    .second_wrapper {
        width: 100vw;
        height: 1020px;
        left: 0;
        margin: 0; 
        top: 1042px;           
    }

    .wrapper__portfolio__text {
        width: 90vw;
        left: 5vw;      
    }

    .gallery {
        display: grid;
        grid-column-gap: 20px;        
        grid-template-columns: 28.6vw 28.6vw 28.6vw;        
        grid-template-areas:   
            "a1 b1 c1"
            "d1 a2 b2"
            "c2 d2 a3"
            "b3 c3 d3";               
    }

    .a1, .a2, .a3, .b1, .b2, .b3, .c1, .c2, .c3, .d1, .d2, .d3 {
        width: 28.6vw;                      
    }

    .button1, .button2, .button3, .button4 {
        display: none;
    }

    .wrapper__about {
        width: 100vw;
        top: 1026px;      
    }

    .head_about {
        width: 90vw;        
        left: 5vw;
        top: 67px;    
    }

    .fotogallary { 
        top: 230px;       
        grid-template-columns: 29vw 29vw 29vw;                      
    }

    .foto1, .foto2, .foto3 {
        background-position-x: -5vw;
    }

    .getaquote {
        position: absolute;
        width: 100vw;        
        margin: 0; 
        left: 0;
        top: 2770px;                
    }

    .text31 {   
        width: 90vw;        
        left: 5vw;        
    }

    #forminputs_name, #forminputs_email, #forminputs_subject, #forminputs_describe {
        width: 57vw;              
    }
    
    .wrapper2 {        
        width: 90vw;        
        top: 130px;   
    }

    .forminputs {
        top: 100px;
    }
    
    .contactinfo {
        top: 100px;        
        left: 3vw; 
    }

    .text32 {
        width: 200px;
    }

    .footer {
        position: absolute;
        width: 100vw;
        left: 510px;
        top: 3436px;             
    }      

/*popup style*/

.b-popup{
    width: 100vw;       
}

.b-popup-content {
    left: 35%;
    
}
/*end popup*/

}

/* Responsive Mobile - 375px */

@media (max-width: 375px) {    

    .single_wrapper {  
        width: 100vw;      
        left: 0;
        margin: 0;    
    }

    .header {
        width: 100vw; 
        height: 71px;       
    }

    .logo {                
        left: 130px;
        top: 25px;   
        }

    ul.navigation li{    
        display: none;
    }  

    #pic {
        width: 100vw;
    }

    .slider {
        width: 100vw;
        height: 218px;
    }

    #img_home {     
        width: 4vw;
        height: 4vw;
        left: 19.3vw;
        top: 65.2vw;   
    }

   #img_home_goriz {        
        width: 4vw;
        height: 4vw;
        left: 42.4vw;
        top: 46.5vw;
        
}

   #display {   
        width:  76.2vw;   
        left: 10.8vw;
        top: 25.7vw;    
   }

   .left {
        width: 2vw;              
        left: 5vw;
        top: 40vw;
        z-index: 7;       
   }

   .right {   
        left: 92vw;
        top: 40vw;   
        z-index: 7;
    }

    .services {
        width: 100vw;
        height: 1200px;        
    }
    
    .main1, .main2 {
        display: flex;
        flex-direction: column;
    }    

    .heart, .text3, .star, .text6 {
        display: initial;
    }

    .text1 {
        position: absolute;
        left: 85px;
        top: 0px;
        width: 220px;   	
    }
    
    .text2 {
        position: absolute;
        left: 85px;
        top: 120px;
        width: 220px;
    }
    
    .text3 {
        position: absolute;
        left: 85px;
        top: 240px;
        width: 220px;
    }
    
    .text4 {
        position: absolute;
        left: 85px;
        top: 360px;
        width: 220px;
    }
    
    .text5 {
        position: absolute;
        left: 85px;
        top: 480px;
        width: 220px;
    }
    
     .text6 {
        position: absolute;
        left: 85px;
        top: 600px;
        width: 220px;
    }

    .pen {
        position: absolute;
        left: 40px;
        top: 0px;            
    }
    
    .bulb {
        position: absolute;
        left: 40px;
        top: 120px;    
    }
    
    .heart {
        position: absolute;
        left: 40px;
        top: 240px;    
    }
    
    .phone {
        position: absolute;
        left: 40px;
        top: 360px;         
    }
    
    .bubble {
        position: absolute;
        left: 40px;
        top: 480px;    
    }
    
    .star {
        position: absolute;
        left: 40px;
        top: 600px;    
    }



    .second_wrapper {
        width: 100vw;
        height: 1020px;
        left: 0;
        margin: 0; 
        top: 1500px;                  
    }

    .wrapper__portfolio__text {
        width: 90vw;
        left: 5vw;
        top: 20px;      
    }

    .portfolio__text {
        top: 35px;
    }

    .gallery {
        left: 3.3vw;
        display: grid;
        grid-column-gap: 14px;
        grid-row-gap: 14px;         
        grid-template-columns: 45vw 45vw;        
        grid-template-areas:   
            "a1 b1"
            "c1 d1"
            "a2 b2"
            "c2 d2";               
    }

    .a1, .a2, .b1, .b2, .c1, .c2, .d1, .d2 {
        width: 45vw;                             
    }

    .a3, .b3, .c3, .d3, .a4, .b4, .c4, .d4 {
        display: none;
    }

    .button1, .button2, .button3, .button4 {
        display: none;
    }

    .wrapper__about {
        width: 100vw;
        top: 1026px; 
        height: 1730px;    
    }

    .head_about {
        width: 90vw;        
        left: 8vw;
        top: 30px;    
    }

    .fotogallary {        
        top: 300px;
        left: 12vw;
        display: grid;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-columns: 285px ;
        grid-template-rows: 300px 20px 35px 35px 300px 20px 35px 35px 300px 20px 35px 35px;
        grid-template-areas:    
                "foto1"
                "name1"
                "disc1"
                "icon1"
                "foto2"
                "name2"
                "disc2"
                "icon2"
                "foto3"
                "name3"
                "disc3"
                "icon3";               
    }    

    .getaquote {
        width: 100vw;        
        margin: 0; 
        left: 0;
        top: 4240px; 
        height: 1000px;               
    }

    .intro h1 {
        top: 20px;
        left: 30px;
    }

    .text31 {   
        width: 80vw;        
        left: 30px; 
        top: 80px;       
    }

    #forminputs_name, #forminputs_email, #forminputs_subject, #forminputs_describe {
        width: 80vw;                    
    }

    #forminputs_submit {
        width: 85vw;
    }
    
    .wrapper2 {        
        width: 90vw;        
        top: 130px;   
    }

    .forminputs {
        position: absolute;
        top: 200px;
        left: -3vw;
        width: 320px;
    }    
    
    .contactinfo {
        position: absolute;
        top: 640px;        
        left: -3vw;         
    }

    .text32 {
        width: 80vw;
    }

    .socialicons {
        position: absolute;
        right: 30vw;
    }

    .copyright {
        display: none;
    }

    .footer {
        position: absolute;
        width: 100vw;        
        margin: 0; 
        left: 0;
        top: 5244px;             
    }      

    .burgermenu {   
        display: initial;
        position: fixed;        
        width: 278px;
        height: 812px;        
        background-color: #2d303a; 
        z-index: -1;    
           
    }    

    ul.burger_navigation li{
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        font-weight: 700;
        color: #494e62;
        text-transform: uppercase;
        position: relative;
        left: 50px;
        top: 50px;
        width: 150px;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        text-decoration: none;
        outline: none;
        letter-spacing: -1px;
        
    }  
    
    ul.burger_navigation li.active {
        background: #f06c64;
        color: #494e62;           
    }

    ul.burger_navigation li:not(.active):hover {
        cursor: pointer;
        color: #f06c64;        
    }

    #open-burgermenu {
        display: initial;
        position: absolute;
        left: 20px;
        top: 20px;
        border-radius: 1px;
        transform: rotate(90deg);
    }

    #close-burgermenu {
        position: absolute;
        left: 20px;
        top: 20px;
        border-radius: 1px;
    }



/*popup style*/

.b-container{
    width:300px;
    height:200px;       
}

.b-popup{
    width: 375vw;
    height: 2000px;    
}

.b-popup .b-popup-content{    
    width: 84vw;
    height: 160px;    
}

.b-popup-content {
    position: absolute;
    left: 8vw;
    top: 250px;
}

.popup_text {    
    left: 5vw;
}

/*end popup*/

}